@import "../../../varcolor.scss";

.terms{
    // padding: 50px 0px;
}


.sif_header{
    .sif_bg{
        background-image: url('../../../assets/img/header-bg.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-attachment: fixed;
        min-height: 100vh;
        position: relative;
    }
    .dummy-zig{
        position: absolute;
        top: 50%;
        right: -20%;
        z-index: 10;
    }

    @include lg{
        .sif_bg{
            background-attachment: scroll;
            min-height: 200px;
            background-size: cover;
            position: relative;
        }
        .dummy-zig{
            zoom: 0.5;
            // display: none;
        }
    }
}

.bCon{
    width: 65%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}