<app-breadcrum [value]="[3]"></app-breadcrum>

<!-- <div class="row">
    <div class="col-lg-3 col-md-12">
        <img src="assets/image/menu/m1.webp" class="img-fluid" alt="">
    </div>
    <div class="col-lg-3 col-md-12">
        <img src="assets/image/menu/m2.webp" class="img-fluid" alt="">
    </div>
    <div class="col-lg-3 col-md-12">
        <img src="assets/image/menu/m3.webp" class="img-fluid" alt="">
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-12">
        <img src="assets/image/menu/m4.webp" class="img-fluid" alt="">
    </div>
    <div class="col-lg-3 col-md-12">
        <img src="assets/image/menu/m5.webp" class="img-fluid" alt="">
    </div>
    <div class="col-lg-3 col-md-12">
        <img src="assets/image/menu/m6.webp" class="img-fluid" alt="">
    </div>
</div> -->

<div class="menucontain" *ngIf="this.service.currentLang !== 'Select Language'">
    <div class="" *ngFor="let item of [].constructor(6); let i = index">
        <img src="assets/image/menu/{{this.service.currentLang}}/m{{i+1}}.webp" class="img-fluid" alt="">
    </div>
</div>

<div class="menucontain" *ngIf="this.service.currentLang == 'Select Language'">
    <div class="" *ngFor="let item of [].constructor(6); let i = index">
        <img src="assets/image/menu/English/m{{i+1}}.webp" class="img-fluid" alt="">
    </div>
</div>

<!-- <button (click)="try()">try </button> -->