<div class="container-xxl position-relative hero-header">
    <div class="container">
        <!-- <div class="row align-items-center g-5">
            <div class="col-lg-7 text-center text-lg-start">
                <h1 class="display-3 text-white head">GET YOUR OWN THE CRISPY CHICKEN FRANCHISE</h1>
                <a href="" class="btn btn-primary py-sm-3 px-sm-5 me-3 mt-3">Get a Franchise</a>
            </div>
            <div class="col-lg-5 text-center text-lg-end overflow-hidden">
                <img class="img-fluid" src="assets/images/hero.png" alt="">
            </div>
        </div> -->
        <div class="row align-items-center py-5 gy-5" id="homeMain">
            
            <!-- <div class="col-lg-6 text-center text-white">
                <h2 class="hero-title">Discover the Essence of Flavor</h2>
                <p>Experience the irresistible pull of authentic flavor with <b>"The Gravity of the Taste"</b>.</p>
            </div> -->
            <div class="hom_txt text-center m-auto"><img src="assets/img/logo/Artboard 2.png" alt="" class="img-fluid m-md-auto"></div>
            <div class="text-white text-center">
                <h1 class="hero-title">Discover the Essence of Flavor</h1>
                <p>Experience the irresistible pull of authentic flavor with <b>"The Gravity of the Taste"</b>.</p>
            </div>
        </div>
        <div>
        </div>
    </div>
    <div id="scroll_down">
        <div class="text-center">
            <!-- <img src="assets/images/scroll.gif"> -->
            <div class="scroll-down"></div>
            <div class="pt-2">Scroll<br>Down</div>
        </div>
    </div>
</div>

<!-- About Start -->
<div class="container-xxl section">
    <div class="container">
        <div>
            <div class="row pt-5  gy-5">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div>
                        <img src="assets/img/col5.jpg" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <h2>About Us</h2>
                    <p>At SIF, we believe that great food starts with great spices. Founded with a passion for culinary excellence, SIF is dedicated to bringing you the finest masala spices from around the world. Our founder, Syed, has a rich heritage rooted in the culinary traditions of India and the Middle East, and this passion is reflected in every product we offer.</p>
                    <h4 class="bold">Our Promise</h4>
                    <p>At SIF, we don't just sell spices – we deliver an experience. Whether you're a home cook or a professional chef, our spices will help you bring out the best in your cooking.</p>
                    <a href="" class="btn btn-primary py-sm-3 px-sm-5 me-3 but mx-auto " routerLink="/about"><b>
                        Learn More...
                    </b></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Num Start -->
<div class="container-xxl section">
    <div class="container">
        <h2 class="prod_head">A Journey of Authentic Taste</h2>
            <div class="row align-items-center pt-5  gy-5">
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 bor-ri">
                    <div class="num-item">
                        <div class="num-style">5000+</div>
                        <p>Satisfied Customers Enjoy Our Special Homemade Spices Every Day</p>
                    </div>
                </div>
                <!-- <div class="div-line"></div> -->
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <div class="num-item">
                        <div class="num-style">10,000+</div>
                        <p>Packs of Our Homemade Spices Are Sold Each Year</p>
                    </div>
                </div>
                <!-- <div class="div-line"></div> -->
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 bor-left">
                    <div class="num-item ">
                        <div class="num-style">0% Chemicals</div>
                        <p>We Use No Ajinomoto, Chemicals, or Preservatives – Only Pure Ingredients</p>
                    </div>
                </div>
            </div>
    </div>
</div>
<!-- Num End -->

<!-- Product Start -->
<div class="container-xxl section">
    <div class="container">
        <div class="product_hover">
            <div class="row align-items-center pt-5 ">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div>
                        <img src="assets/img/list/list_1.jpg" alt="" class="img-fluid prod_img">
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 ps-5">
                    <h2 class="prod_head">CRISPY DELIGHTS</h2>
                    <p>Our Broasted Chicken, Broasted Fish, and Broasted Shrimps are prepared with a signature spice blend, offering both spicy and non-spicy options. Enjoy the perfect balance of crispy, golden crust and tender, juicy meat or seafood inside. Each bite is crafted to perfection, providing a flavorful crunch without the use of any preservatives, chemicals, or ajinomoto, making them a healthier choice for your family.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-xxl section">
    <div class="container">
        <div class="product_hover">
            <div class="row align-items-center pt-5 ">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <h2 class="prod_head">PATTY PERFECTION</h2>
                    <p>Satisfy your cravings with our hand-crafted Chicken Patties and Beef Patties, available in both spicy and non-spicy options. Whether you're grilling them up for a burger or enjoying them as a snack, each patty is packed with rich, bold flavors that are made from scratch using pure, homemade spices. Free from additives or preservatives, our patties are the perfect choice for those who appreciate real, authentic taste.</p>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div>
                        <img src="assets/img/list/list_2.jpg" alt="" class="img-fluid prod_img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-xxl section">
    <div class="container">
        <div class="product_hover">
            <div class="row align-items-center pt-5 ">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div>
                       <img src="assets/img/list/list_9.jpg" alt="" class="img-fluid prod_img">
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 ps-5">
                    <h2 class="prod_head">GRILLED & GOLDEN</h2>
                    <p>For lovers of smoky, charred flavors, our Grilled Chicken, Grilled Fish, and Grilled Shrimps are seasoned to perfection with our special blend of herbs and spices. Each piece is grilled to a tender, juicy finish while maintaining a healthy and flavorful profile. These dishes are ideal for family gatherings, barbecues, or a wholesome dinner—always prepared without preservatives or artificial flavor enhancers.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-xxl section">
    <div class="container">
        <div class="product_hover">
            <div class="row align-items-center pt-5 ">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <h2 class="prod_head">ARABIAN SPECIALTIES</h2>
                    <p>Bring the authentic flavors of the Middle East into your kitchen with our special homemade Biryani Masala, Mandhi Masala, and Al Fahm blends. These spice mixes are crafted with care, inspired by traditional Arabian recipes that are known for their deep, aromatic flavors. Our masalas ensure every dish is an experience in itself, with no chemicals or preservatives, making them perfect for anyone seeking an authentic, homemade touch in their cooking.</p>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div>
                       <img src="assets/img/list/list_8.jpg" alt="" class="img-fluid prod_img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-xxl section">
    <div class="container">
        <div class="product_hover">
            <div class="row align-items-center pt-5 ">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div>
                       <img src="assets/img/list/list_4.jpg" alt="" class="img-fluid prod_img">
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 ps-5">
                    <h2 class="prod_head">SAVORY SNACKS</h2>
                    <p>Perfect for any occasion, our Shawarma and Tender Chicken Pops (available in both spicy and non-spicy varieties) are bite-sized delights bursting with bold, savory flavors. These snacks are crafted with premium ingredients, making them a popular choice for parties, casual meals, or quick snacks. Like all our products, they are made without any harmful chemicals, ensuring you enjoy only the finest and freshest flavors in every bite.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product End -->

<!-- list Start -->
<div class="container-xxl section">
    <div class="container product-card">
        <h2 class="prod_head">A Journey of Authentic Taste</h2>
        <p>Our premium spices and masalas are specially crafted to enhance the flavors of these signature dishes. From broasted delights to grilled favorites, every blend is designed to bring out the authentic taste in each recipe.</p>
        <div class="row fjcenter g-4 mt-3">
            <ng-container *ngFor="let item of this.card;let i = index;">
                <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="1000">
                    <div class="pro-card" >
                        <div class="pro-card-img">
                            <img src="{{item.img}}" class="wid" alt="...">
                        </div>
                        <h4 class="prod-title mt-2">{{item.title}}</h4>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
<!-- list End -->

<!-- Grid Start -->
<!-- <div class="container-xxl section">
    <div class="container">
        <div class="grid-spices">
            <div class="d-flex flex-column fcenter" *ngFor="let data of grid; let i=index">
                <div><img [src]="data.img" alt=""></div>
                <h4>{{ data.head }}</h4>
            </div>
        </div>
    </div>
</div> -->
<!-- Grid End -->

<!-- orangebg Start -->
<!-- <div class="oran-bg">
    <div class="container-xxl section text-white">
        <div id="orangeItem">
            <div class="row">
                <div class="col-4 m-auto">
                    <div class="bowl_1"><img src="assets/img/home-bowl.png" alt="" class="img-fluid"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6 col-lg-6 col-xl-6">
                    <div class="bowl_2"><img class="img-fluid" src="assets/img/home-bowl.png" alt=""></div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-3 col-lg-3 col-xl-3 d-flex facenter">
                    <div class="mt-5">
                        <h1 class="text-white">Our Spices</h1>
                        <p>our spices are meticulously sourced and blended to deliver authentic, rich flavors from around the world. Elevate your culinary creations with our premium Indian masala, Arabian spices, tandoori masala, and special mandi masalas.</p>     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- orangebg End -->

<!-- Collage Start -->

<!-- <div class="bg-primary_two">
    <div class="container-xxl section text-white collage">
        <div class="col-container ">
            <div class="wrap">
                <div class="top"></div>
                <div class="middle"></div>
                <div class="bottom"></div>
            </div>
            <div class="wrap two">
                <div class="top"></div>
                <div class="middle"></div>
                <div class="bottom"></div>
            </div>
        </div>
    </div>
</div> -->

<!-- Collage End -->

<!-- Testimonial Start -->
<div class="container-xxl section mt-5">
    <div class="container">
        <div class="text-center">
            <!-- <h5 class="section-title ff-secondary text-center text-primary fw-normal" data-aos="fade-right"
                data-aos-duration="1000">Why Us?</h5> -->
            <h2 class="text-start mb-4" data-aos="fade-up" data-aos-duration="1000">Our Specialties</h2>
        </div>
        <div class="owl-carousel testimonial-carousel">
            <div class="testimonial-item p-1" *ngFor="let item of this.caro;">
                <div class="row justify-content-between align-items-center gx-5">
                    <div class="col-sm-12 col-md-12 col-lg-5 col-lg-5 col-xl-5"><img [src]="item.img" alt="" class="imgfuid" style="border-radius: 10px; max-width: 500px;"></div>
                    <div class="p-3 col-sm-12 col-md-12 col-lg-7 col-lg-7 col-xl-7">
                        <h2 class="playFairBold text-primary mb-4">{{item.head}}:</h2>
                        <p class="text-dark">{{item.con}}</p>
                    </div>
                </div>
            </div>

            <!-- <div class="testimonial-item bg-transparent border rounded p-4">
                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="img/testimonial-1.jpg" style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1">Client Name</h5>
                        <small>Profession</small>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-transparent border rounded p-4">
                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="img/testimonial-2.jpg" style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1">Client Name</h5>
                        <small>Profession</small>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-transparent border rounded p-4">
                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="img/testimonial-3.jpg" style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1">Client Name</h5>
                        <small>Profession</small>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-transparent border rounded p-4">
                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="img/testimonial-4.jpg" style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1">Client Name</h5>
                        <small>Profession</small>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>
<!-- Testimonial End -->

