<!-- <app-breadcrum [value]="[5,0]"></app-breadcrum> -->

<div class="dummy_header"></div>

<!-- <div class="sif_header">
  <div class="dummy-bg"></div>
  <div class="dummy-zig display-md-none"><span class="ques playFairBold ">?</span></div>
  <div class="">
      <div class="container">
          <div class="row center-item">
              <div class="col-sm-12 col-md-12 col-lg-6 col-lg-6 col-xl-6 bg-dark" data-aos="fade-right" data-aos-duration="1000">
                  <div class="zig-head"><img src="assets/img/zig3.png" alt=""></div>
                <h1 class="text-white">Frequently Asked Questions</h1>
             </div>
              <div class="col-sm-12 col-md-12 col-lg-3 col-lg-3 col-xl-3">
              
              </div>
          </div>
      </div>
  </div>
</div> -->
<div class="sif_header">
  <div class="dummy-zig display-md-none"><span class="ques playFairBold ">?</span></div>
  <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-7 col-lg-7 col-xl-7 bg-dark">
          <div class="bCon">
              <div class="zig-head"><img src="assets/img/zig3.png" alt=""></div>
              <h1 class="text-white">Frequently Asked Questions</h1>
          </div>
      </div>
        <div class="col-sm-12 col-md-12 col-lg-5 col-lg-5 col-xl-5 sif_bg">
        
        </div>
  </div>
</div>

<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq section pattern2">
  <!-- <img src="assets/image/signature_sandwich.png" alt="" class="bur"> -->
  <div class="container" data-aos="fade-up">
    <div>
      <div class="text-center">
        <h2 class="playFairBold ff-secondary text-center text-primary fw-normal" data-aos="fade-right" data-aos-duration="1000">Get instant answers with FAQs</h2>
        <!-- <h1 class="mb-4" data-aos="fade-up" data-aos-duration="1000">Frequently Asked Questions</h1> -->
      </div>
      <!-- <p class="playFair">
        "The Crispy Chicken" is a renowned fried chicken franchise known for its unique and flavorful offerings. If you're interested in becoming a franchisee, you can find detailed information on the official website's "Franchise Opportunities" section. The franchise offers extensive support, including site selection, training, marketing strategies, and ongoing operational guidance.
      </p> -->
    </div>

    <div class="faq-list mt-5">
      <ul>
        <li data-aos="fade-up" data-aos="fade-up" data-aos-delay="100">
          <div class="d-flex facenter">
            <i class="fa-solid fa-burger fa-lg text-primary"></i>
          <a 
            data-bs-toggle="collapse"
            data-bs-target="#faq-list-1"
            class="d-flex facenter space-between gap-5 w-100 collapsed">
            <span class="bold ">1. Where do you source your spices from?</span>
            <i class="fa-solid fa-angle-down fa-sm icon-show"></i>
            <i class="fa-solid fa-angle-up fa-sm icon-close"></i>
          </a>
          </div>
          <div id="faq-list-1" class="collapse" data-bs-parent=".faq-list">
            <p>
              Our spices are sourced from trusted suppliers and farmers who follow sustainable and ethical farming practices, located in regions known for rich spice cultivation.            
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="200">
          <div class="d-flex facenter">
            <i class="fa-solid fa-burger fa-lg text-primary"></i>
          <a 
            data-bs-toggle="collapse"
            data-bs-target="#faq-list-2"
            class="d-flex facenter space-between gap-5 w-100 collapsed">
            <span class="bold ">2. How should I store my spices?</span>
            <i class="fa-solid fa-angle-down fa-sm icon-show"></i>
            <i class="fa-solid fa-angle-up fa-sm icon-close"></i>
          </a>
          </div>
          <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
            <p>Store spices in a cool, dry place, away from direct sunlight, in airtight containers to maintain freshness and potency.</p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="300">
          <div class="d-flex facenter">
            <i class="fa-solid fa-burger fa-lg text-primary"></i>
          <a 
            data-bs-toggle="collapse"
            data-bs-target="#faq-list-3"
            class="d-flex facenter space-between gap-5 w-100 collapsed">
            <span class="bold ">3. Are your spices gluten-free?</span>
            <i class="fa-solid fa-angle-down fa-sm icon-show"></i>
            <i class="fa-solid fa-angle-up fa-sm icon-close"></i>
          </a>
          </div>
          <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
            <p>Yes, our spices are naturally gluten-free and processed in facilities that handle only spices to avoid cross-contamination.</p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="400">
          <div class="d-flex facenter">
            <i class="fa-solid fa-burger fa-lg text-primary"></i>
          <a 
            data-bs-toggle="collapse"
            data-bs-target="#faq-list-4"
            class="d-flex facenter space-between gap-5 w-100 collapsed">
            <span class="bold ">4. Do you offer international shipping?</span>
            <i class="fa-solid fa-angle-down fa-sm icon-show"></i>
            <i class="fa-solid fa-angle-up fa-sm icon-close"></i>
          </a>
          </div>
          <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
            <p>Yes, we ship worldwide. Shipping fees and delivery times vary by location, and customs regulations may affect delivery times.</p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="500">
          <div class="d-flex facenter">
            <i class="fa-solid fa-burger fa-lg text-primary"></i>
          <a 
            data-bs-toggle="collapse"
            data-bs-target="#faq-list-5"
            class="d-flex facenter space-between gap-5 w-100 collapsed">
            <span class="bold ">5. Can I buy your spices in bulk?</span>
            <i class="fa-solid fa-angle-down fa-sm icon-show"></i>
            <i class="fa-solid fa-angle-up fa-sm icon-close"></i>
          </a>
          </div>
          <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
            <p>Yes, we offer bulk purchasing options for businesses with special pricing. Contact us for details.</p>
          </div>
        </li>
        
        <li data-aos="fade-up" data-aos-delay="600">
          <div class="d-flex facenter">
            <i class="fa-solid fa-burger fa-lg text-primary"></i>
          <a 
            data-bs-toggle="collapse"
            data-bs-target="#faq-list-6"
            class="d-flex facenter space-between gap-5 w-100 collapsed">
            <span class="bold ">6. Are your spices organic?</span>
            <i class="fa-solid fa-angle-down fa-sm icon-show"></i>
            <i class="fa-solid fa-angle-up fa-sm icon-close"></i>
          </a>
          </div>
          <div id="faq-list-6" class="collapse" data-bs-parent=".faq-list">
            <p>Many of our spices are organic and meet strict certification standards. Look for the organic label on specific products.</p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="700">
          <div class="d-flex facenter">
            <i class="fa-solid fa-burger fa-lg text-primary"></i>
          <a 
            data-bs-toggle="collapse"
            data-bs-target="#faq-list-7"
            class="d-flex facenter space-between gap-5 w-100 collapsed">
            <span class="bold ">7. How can I contact customer service?</span>
            <i class="fa-solid fa-angle-down fa-sm icon-show"></i>
            <i class="fa-solid fa-angle-up fa-sm icon-close"></i>
          </a>
          </div>
          <div id="faq-list-7" class="collapse" data-bs-parent=".faq-list">
            <p>Contact us via email and phone given in the website, or through our website contact form. We try to respond within a week.</p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="800">
          <div class="d-flex facenter">
            <i class="fa-solid fa-burger fa-lg text-primary"></i>
          <a 
            data-bs-toggle="collapse"
            data-bs-target="#faq-list-8"
            class="d-flex facenter space-between gap-5 w-100 collapsed">
            <span class="bold ">8. Are your spices free from artificial additives?</span>
            <i class="fa-solid fa-angle-down fa-sm icon-show"></i>
            <i class="fa-solid fa-angle-up fa-sm icon-close"></i>
          </a>
          </div>
          <div id="faq-list-8" class="collapse" data-bs-parent=".faq-list">
            <p>Yes, our spices are 100% natural and free from artificial additives, preservatives, and colors.</p>
          </div>
        </li>

        <!-- <li data-aos="fade-up" data-aos-delay="900">
          <div class="d-flex facenter">
            <i class="fa-solid fa-burger fa-lg text-primary"></i>
          <a 
            data-bs-toggle="collapse"
            data-bs-target="#faq-list-9"
            class="d-flex facenter space-between gap-5 w-100 collapsed">
            <span class="bold ">9. Can I choose the location of my franchise?</span>
            <i class="fa-solid fa-angle-down fa-sm icon-show"></i>
            <i class="fa-solid fa-angle-up fa-sm icon-close"></i>
          </a>
          </div>
          <div id="faq-list-9" class="collapse" data-bs-parent=".faq-list">
            <p>
              We encourage franchisees to suggest potential locations based on their market research. However, the final approval of the location will be subject to a feasibility study conducted by our team to ensure it aligns with our brand strategy.
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="1000">
          <div class="d-flex facenter">
            <i class="fa-solid fa-burger fa-lg text-primary"></i>
          <a 
            data-bs-toggle="collapse"
            data-bs-target="#faq-list-10"
            class="d-flex facenter space-between gap-5 w-100 collapsed">
            <span class="bold ">10. How can I get in touch with The Crispy Chicken's franchise team for more information?</span>
            <i class="fa-solid fa-angle-down fa-sm icon-show"></i>
            <i class="fa-solid fa-angle-up fa-sm icon-close"></i>
          </a>
          </div>
          <div id="faq-list-10" class="collapse" data-bs-parent=".faq-list">
            <p>
              You can reach out to our franchise team by visiting our website and filling out the "Contact Us" form in the "Franchise" section. Alternatively, you can find contact details for franchise inquiries on the website.
            </p>
          </div>
        </li> -->
      </ul>
    </div>

    <div class="mt-5" >
        <p data-aos="fade-up" data-aos-delay="1000">For specific details about The Crispy Chicken franchise, including current offerings, fees, and terms, we recommend reaching out to our company team directly or referring to our official company brochure.</p>
        <p data-aos="fade-up" data-aos-delay="1000">Please note that the information provided here is for illustrative purposes, and you should refer to the official company documentation for the most accurate and up-to-date information.</p>
    </div>
  </div>
</section>
<!-- End Frequently Asked Questions Section -->
